footer {
    background: #555;
    color: #fff;
    padding: 20px;
    .footer-box {
        padding: 0px !important;
        margin-top: 20px;
        &.right {
            text-align: right;
        }
    }
}
