#home-main-form {
    background: mix(#c14d4d, #fff, 80%);
    background-size: cover;
    h2 {
        color: #fff;
        text-shadow: 1px 1px 1px #555;
    }
    form {
        padding: 30px;
        background: #fff;
        box-shadow: 0px 0px 5px #555;
        p {
            margin-bottom: 15px !important;
            label {
                font-size: 0.7em !important;
                text-align: left;
                cursor: pointer;
                width: 90% !important;
                input,
                select,
                textarea {
                    cursor: text !important;
                    width: 100%;
                }
                input[type=text],
                input[type=email],
                textarea {
                    padding: 5px;
                    background: mix(#555, #fff, 20%);
                    border: none;
                    &:focus {
                        background: mix(#555, #fff, 40%);
                    }
                }
                textarea {
                    height: 100px;
                    resize: none;
                }
            }
            input[type='submit'] {
                background: mix(#7c2039, #fff, 50%);
                border: solid 2px mix(#7c2039, #fff, 50%);
                padding: 10px;
                width: 200px;
                border-radius: 50px;
                font-size: 0.7em;
                text-transform: uppercase;
                color: #fff;
                transition: 0.5s ease all;
                &:hover {
                    background: mix(#7c2039, #fff, 10%);
                    color: mix(#7c2039, #fff, 50%);
                }
            }
        }
    }
    .form-content-box {
        p {
            color: #fff;
            text-shadow: 1px 1px 1px #555;
            text-transform: none !important;
            font-size: 1.5em;
            margin-top: 25px;
        }
        img{
            max-width: 200px;
        }
    }
}
