header {
    z-index: 999;
}

#logo {
    span {
        font-family: "lobster";
        a {
            color: #FF7373;
            font-size: 2em;
            &:active,
            &:hover {
                text-decoration: none;
            }
            img {
                width: 220px;
                height: auto
            }
        }
    }
}

/*
* Nav principal
*/

nav#menu-principal {
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #555;
}

#menu-primary-holder {
    margin-top: 10px;
    #primary {
        ul li a {
            color: #FF7373;
        }
    }
}

#primary-content {
    padding: 0px !important;
    background-size: cover;
    height: 100vh;
    position: relative;
    #img-principal {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        filter: sepia(5);
    }
    &.page-primary-content {
        height: 45vh !important;
        #page-title-holder {
            margin-top: 15vh !important;
        }
    }
    .container {
        max-height: 300px;
        position: relative;
    }
    #page-title-holder {
        margin-top: 25vh;
        ul {
            max-width: 240px;
            li{
                display: inline;
            }
        }
        h1 {
            text-transform: uppercase;
            font-family: "Cabin";
            font-size: 3em;
        }
        p {
            font-size: 1em;
            line-height: 2;
            font-family: "Cabin";
            width: 70%;
            margin: 0px auto;
        }
        h1,
        p {
            color: #fff;
            text-align: center;
            text-shadow: 1px 1px 1px #555;
        }
    }
    main {
        overflow: hidden;
        height: 40vh;
        max-height: 300px;
        width: 100%;
        position: relative;
        #img-principal {
            position: absolute;
            top: -20%;
            left: 0px;
        }
    }
}
