#home-main-posts {
    background: mix(#c14d4d, #fff, 80%);
    h2 {
        color: #fff;
        text-shadow: 1px 1px 1px #555;
    }
    .row-posts {
        display: flex;
        padding-top: 30px;
        .box-posts-content {
            width: 33%;
            span {
                text-align: center;
                position: relative;
                display: block;
                margin-top: 15px;
                font-family: "Cabin";
                font-size: 1.5em;
                color: #fff;
                text-shadow: 1px 1px 1px #555;
            }
            p {
                font-size: 1em;
                color: #fff;
                margin: 15px auto;
                width: 80%;
            }
            .post-box {
                width: 60%;
                margin: 0px auto;
                overflow: hidden;
                height: 220px;
                img {
                    width: auto;
                    height: 100%;
                    display: block;
                }
            }
            a:hover {
                text-decoration: none !important;
            }
        }
    }
}

#about-theme {
    height: 30vh;
    padding-bottom: 50px;
    background: #fff;
    z-index: 999 !important;
    background: #555;
    color: mix(#555, #fff, 20%) !important;
    h2{
        margin-bottom: 25px;
        text-shadow: 1px 1px 1px #555;
    }
    .content-centered {
        line-height: 25px;
        text-align: center;
        margin-top: 5vh;
        p{
            margin-bottom: 20px !important;
            font-size: 1.3em;
            text-shadow: 1px 1px 1px #555;
        }
        a{
            text-transform: uppercase;
            background: #7c2039;
            border-color: #7c2039;
        }
    }
}