ul {
    margin: 0px;
    list-style: none;
    li {
        display: inline;
        font-family: "Cabin";
        margin-right: 15px;
        a,
        a:active,
        a:focus,
        a:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &#primary {
        font-size: 15px;
    }
}

h1,
h2,
h3,
p {
    font-family: "Cabin" !important;
}

section.container-holder {
    padding: 30px;
    position: relative;
    overflow: hidden;
    h1,
    h2,
    h3,
    p {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7em;
        position: relative;
        margin-bottom: 45px;
        span {
            position: relative;
        }
    }
}

.page-nav {
    ul {
        margin-top: 10px;
        li a,
        li a:hover,
        li a:active {
            color: #555 !important;
            text-shadow: none;
        }
    }
}

.page-content {
    article {
        h2,
        h3 {
            text-align: left;
        }
    }
}

article {
    padding: 30px;
    p {
        font-size: 1.1em !important;
        line-height: 27px;
        text-align: left !important;
    }
}
